<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
 
</head>
<body style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;position: relative;overflow: hidden;display: flex;justify-content: center;background-color: #a1a1a1;">
    
    <section style="background-color: white;max-width: 600px;margin: auto;border-radius: .7em .7em 0 0;overflow: hidden;position: absolute;z-index: 10;">
      <header style="text-align: center;color: #f6f7fc;background-color: rgb(40, 89, 210);padding: 0.6em;">
        <h1 style="text-align: center;color: #f6f7fc;">J'active mon compte Moovybox</h1>
      </header>
      <main style="font-size: 16px;padding: 1em;">
          <p>Bonjour ${emailData.pseudo},</p>
    
          <p> L'équipe Moovybox est fière de te compter parmi ses utilisateurs, plus qu'une étape cliquer sur le bouton suivant</p> 
          
          <a href="#" class="button" style="text-align: center;max-width: 400px;margin: auto;display: block;background-color: #2859d2;color: #f6f7fc;font-weight: bold;text-decoration: none;text-transform: uppercase;padding: .8em;border-radius: 0.2em;">Bouton</a>
    
          <p> Sinon, clique sur le lien suivant: <a href="#" style="text-align: center;">Le lien en dure</a></p> 
    
          <p class="alert" style="color: red;"> Attention ces liens ne sont valables que 24h.</p> 

          <p class="signature" style="font-style: italic;font-weight: bold;">L'équipe Moovybox</p>
      </main>
    

      <footer style="text-align: center;color: #f6f7fc;background-color: #a1a1a1;padding: 1em;">
        <p>Société même pas montée - Sans droit réservé</p>
        <p>Pas d'adresse non plus mais sait-on jamais ?</p>
        <ul class="footer-links" style="padding: 0;display: flex;justify-content: center;list-style: none;text-align: center;">
            <li style="display: inline-block;padding: 0.4em;"><a href="#" style="text-align: center;color: white;">Des liens</a></li>
            <li style="display: inline-block;padding: 0.4em;"><a href="#" style="text-align: center;color: white;">Des liens</a></li>
            <li style="display: inline-block;padding: 0.4em;"><a href="#" style="text-align: center;color: white;">Des liens</a></li>
        </ul>
      </footer>

    </section> 
    
  </body>
</html>


