<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        header,footer {
            background-color: #2859d2;
            text-align: center;
            color: #f6f7fc;
        };

        p {
            color:#2859d2;
            text-align: center;
        }

        input {
            background-color: blue;
            border-radius: 5px;
            color:#f6f7fc;
        }

        a,h1 {
            text-align: center;
            color: #f6f7fc;
        }


    </style>
</head>
<body>
    <header>
        <h1>    <%= subject %>    </h1>
    </header>
    
    <p class='email-body'>
        Tu es pret à activer ton compte MoovyBox ?
        Clique juste sur le bouton ci-dessous...
    </p>
    
    <input type="submit" value="Pret à Cartonner!">
    
    <footer>
        <a href=""> J'arrete tout! Les cartons c'est pas mon truc, moi j'aime bien les origamis </a>
    </footer>

</body>
</html>


